$media: "screen and (min-width: 1000px)"
*
  font-family: Helvetica
body
  margin: 0
  padding: 0
header
  display: flex
  justify-content: space-between
  flex-direction: column
  width: 100%
  // height: 5em
  border-bottom: 1px solid rgba(225,225,225,0.5)
  -webkit-box-shadow: 0 5px 18px -8px black
  -moz-box-shadow: 0 5px 18px -8px black
  box-shadow: 0 5px 18px -8px black
  margin-bottom: 1em
  #menu
    display: flex
    width: 100%
    height: 1.3em
    // left: 5em
    ul
      padding: 0px
      margin: 0px
      margin: 0 auto
      display: flex
      flex-direction: row
      list-style-type: none
      border-bottom: 1px solid #dddbdb
      @media #{$media}
        margin: 0 auto
        padding: 0px
      li
        padding-right: 1em
        padding-left: 1em
        a
          text-decoration: none
          color: #8c8c8c
          &:hover
            color: #5e5e5e
  #images
    display: flex
    flex-direction: row
    @media #{$media}
      margin-top: -1.3em
  .people
    width: 100%
    align-items: center
    margin-top: 2px
    // margin: 0 auto
    @media #{$media}
      width: 100%
      margin-top: 0px
    ul
      padding: 0px
      list-style-type: none
      display: flex
      justify-content: center
      flex-direction: row
      margin: 3px 0px 3px 0px
      flex-wrap: wrap
      text-align: center
      @media #{$media}
        justify-content: flex-end
      li
        height: 4em
        width: 4em
        padding: 0px
        display: flex
        // justify-content: center
        // align-items: flex-end
        margin: 0px 3px 0px 3px
        border-radius: 100%
        opacity: 0.8
        // min-width: 3em
        // min-height: 2em
        // background-color: #c32424
        // color: white
        // font-family: Verdana
        // font-size: 1.5em
        // text-align: center
        // line-height: 3em
        p
          font-size: 3.5em
          color: white
        &:hover
          opacity: 1.0
        img
          padding: 0px
          width: 4em
          border-radius: 100%
        &:nth-child(1)
          background-color: rgba(random(80), random(100), 255 - random(100), 1)
        &:nth-child(2)
          background-color: rgba(random(80), random(100), 255 - random(80), 1)
        &:nth-child(3)
          background-color: rgba(random(80), random(100), 255 - random(90), 1)
        &:nth-child(4)
          background-color: rgba(random(80), random(100), 255 - random(100), 1)
        &:nth-child(5)
          background-color: rgba(random(10), random(50), random(255), random(10) / 10)
        &:nth-child(6)
          background-color: rgba(random(255), random(255), random(255), random(10) / 10)
        &:nth-child(7)
          background-color: rgba(random(255), random(255), random(255), random(10) / 10)
        &:nth-child(8)
          background-color: rgba(random(255), random(255), random(255), random(10) / 10)
        &:nth-child(9)
          background-color: rgba(random(255), random(255), random(255), random(10) / 10)
        &:nth-child(10)
          background-color: rgba(random(255), random(255), random(255), random(10) / 10)
        &:nth-child(11)
          background-color: rgba(random(255), random(255), random(255), random(10) / 10)
        p
          width: 100%
          height: 100%
          margin: 0px
  figure
    display: none
    @media #{$media}
      display: flex
      width: 5em
      opacity: 0.8
      margin: 0px
      margin-left: 5px
    img
      width: 100%
main
  display: flex
  flex-direction: column
  justify-content: space-between
  width: 100%
  @media #{$media}
    flex-direction: row
    // height:
  & > div
    width: 100%
    padding: 0px
    display: flex
    flex-direction: column
    // margin: 0 auto
    @media #{$media}
      // justify-content: space-between
      width: 35%
      max-height: calc((100vh) - 7em)
      // overflow-y: auto
  .body
    width: 100%
    display: flex
    flex-direction: column
    // justify-content: space-between
    text-align: center
    @media #{$media}
      // height: calc((100vh) - 18em)
      overflow-y: auto
    h1
      border-bottom: 1px solid rgba(225,225,225,0.5)
    .textbody
      position: relative
      overflow-y: auto
    #editing
      resize: none
      width: 95%
      margin: 0 auto
      height: 30vh
    #saveEdit
      width: 8em
      min-height: 2em
      background-color: #708edf
      border: 0px
      color: white
      font-weight: bold
      // margin: 0 auto
    .otherBody
      display: flex
      flex-direction: row
      justify-content: center
      // flex-wrap: wrap
      img
        max-width: 30%
        max-height: 5em
        padding-right: 5px
        padding-left: 5px
        opacity: .75
        @media #{$media}
          max-width: 100%
    p
      cursor: pointer
      padding-left: 2%
      padding-right: 2%
      text-align: justify
      margin: 0
      position: relative
      &:hover
        & > #edit
          display: block
      #edit
        width: 1.5em
        position: absolute
        top: -2em
        left: 1em
        display: none
        opacity: 0.6
        z-index: 3242
        &:hover
          opacity: 1.0
          display: block
    .options
      display: flex
      flex-direction: row
      position: relative
      justify-content: space-around
      background-color: rgba(234,67,67, 1.0)
      height: 4em
      margin: 0 auto
      margin-top: 1em
      width: 100%
      @media #{$media}
        position: fixed
        bottom: 0
        width: 59%
        // margin-top: 0px
      .favourite
        padding: 10px
      .favourite:not(:checked)
        border: 0px
        & > input
          position: absolute
          top: -9999px
          clip: rect(0,0,0,0)
        & > label
          float: right
          width: 1em
          padding: 0 0.1em
          overflow: hidden
          white-space: nowrap
          cursor: pointer
          font-size: 200%
          line-height: 1.2
          color: #ffffff
        & > label:before
          content: '★ '
        & > label:hover
          color: gold
      .favourite > input:checked ~ label
        color: gold
      .favourite > input:checked + label:hover
        color: gold
      .mute
        padding: 10px
      .mute:not(:checked)
        border: 0px
        & > input
          position: absolute
          top: -9999px
          clip: rect(0,0,0,0)
        & > label
          float: right
          width: 1em
          padding: 0 0.1em
          overflow: hidden
          white-space: nowrap
          cursor: pointer
          font-size: 200%
          line-height: 1.2
          color: #ffffff
        & > label
          width: 3em
          height: 3em
          background: url(../../logo/open-box.svg) no-repeat
          background-position: 50% -20%
        & > label:hover
          background: url(../../logo/closed-box-hover.svg) no-repeat
          background-position: 50% -20%
      .mute > input:checked ~ label
        background: url(../../logo/closed-box.svg) no-repeat
        background-position: 50% -20%
      .mute > input:checked + label:hover
        background: url(../../logo/closed-box-hover.svg) no-repeat
        background-position: 50% -20%
      .search
        width: 2em
        cursor: pointer
        &:hover
          & + .searchInput
            display: block
      .searchInput
        display: none
        position: absolute
        width: 35%
        height: 40px
        line-height: 0.5em
        font-size: 2em
        right: 0
        margin-bottom: 50px
        -webkit-box-shadow: 0 15px 18px -8px black
        -moz-box-shadow: 0 15px 18px -8px black
        box-shadow: 0 15px 18px -8px black
        @media #{$media}
          right: 0
          top: -45px
        &:hover
          display: block
        &:focus
          display: block
  .body-cont
    @media #{$media}
      border-right: 1px solid rgba(225,225,225,0.5)
      border-left: 1px solid rgba(225,225,225,0.5)
      // -webkit-box-shadow: 0 5px 18px -8px black
      // -moz-box-shadow: 0 5px 18px -8px black
      // box-shadow: 0 5px 18px -8px black
      padding-right: 1%
      width: 58%
      margin: 0 auto
      height: calc((90vh) - 6em)
  .comments-cont
    @media #{$media}
      border-left: 1px solid rgba(225,225,225,0.5)
      padding-right: 1%
      // margin-top: 1em
      // height: 85vh
    textarea
      width: calc((100%) - 2px)
      resize: none
      font-size: 1em
      min-height: 8em
      margin-bottom: 4px
      padding: 0px
      border: 1px solid rgba(225,225,225,0.5)
      -webkit-box-shadow: 0 5px 10px -8px black
      -moz-box-shadow: 0 5px 10px -8px black
      box-shadow: 0 5px 10px -8px black
    #send
      width: 10em
      min-height: 2.5em
      background-color: #708edf
      border: 0px
      color: white
      font-weight: bold
      margin: 0 auto
      &:hover
        background-color: #7d99e5
      &:active
        width: 9.8em
    .comments
      width: 100%
      display: flex
      justify-content: space-between
      flex-direction: column-reverse
      overflow: auto
      // height: 65vh
      section
        padding-right: 5px
        padding-top: 15px
        padding-bottom: 15px
        display: flex
        flex-direction: row
        justify-content: space-between
        min-height: 9.5em
        border-bottom: 1px solid rgba(225,225,225,1.0)
        align-items: flex-start
        -webkit-box-shadow: 0 8px 10px -10px black
        -moz-box-shadow: 0 8px 10px -10px black
        box-shadow: 0 8px 10px -10px black
        aside
          width: 18%
          padding-right: 2%
          padding-left: 2%
          display: flex
          flex-direction: column
          justify-content: center
          text-align: center
          word-wrap: break-word
          .circle
            width: 4em
            margin: 0 auto
            border-radius: 100%
            background-color: #7f86e5
            letter
              text-align: center
              color: #fff
          p
            color: #949494
          .email
            font-size: 0.8em
          .date
            font-size: 0.6em
        div
          position: relative
          margin: 0px
          width: 80%
          text-align: justify
          p
            margin: 0px
            @media #{$media}
              font-size: 0.9em

