$media: "screen and (min-width: 1000px)"
*
  font-family: Helvetica
body
  margin: 0
  padding: 0
  overflow-y: hidden
header
  display: flex
  justify-content: space-between
  flex-direction: column
  width: 100%
  border-bottom: 1px solid rgba(225,225,225,0.5)
  -webkit-box-shadow: 0 5px 18px -8px black
  -moz-box-shadow: 0 5px 18px -8px black
  box-shadow: 0 5px 18px -8px black
  margin-bottom: 1em
  #menu
    display: flex
    width: 100%
    height: 1.3em
    ul
      padding: 0px
      margin: 0px
      margin: 0 auto
      display: flex
      flex-direction: row
      list-style-type: none
      border-bottom: 1px solid #dddbdb
      @media #{$media}
        margin: 0 auto
        padding: 0px
      li
        padding-right: 1em
        padding-left: 1em
        a
          text-decoration: none
          color: #8c8c8c
          &:hover
            color: #5e5e5e
  #images
    display: flex
    flex-direction: row
    justify-content: space-between
  .people
    width: 80%
    align-items: center
    margin-top: 2px
    // margin: 0 auto
    @media #{$media}
      width: 80%
      margin-top: 0px
      overflow-y: auto
      &::-webkit-scrollbar
        width: 6px
        height: 6px
      &::-webkit-scrollbar-track
        background: #bababa
      &::-webkit-scrollbar-thumb
        background: #888888
      &:hover
        &::-webkit-scrollbar
          width: 6px
          height: 6px
        &::-webkit-scrollbar-track
          background: #bababa
        &::-webkit-scrollbar-thumb
          background: #888888
    ul
      padding: 0px
      list-style-type: none
      display: flex
      justify-content: center
      flex-direction: row
      margin: 3px 0px 3px 0px
      flex-wrap: wrap
      text-align: center
      @media #{$media}
        justify-content: flex-end
      li
        height: 4em
        width: 4em
        padding: 0px
        display: flex
        margin: 0px 3px 0px 3px
        opacity: 0.8
        cursor: default
        p
          text-transform: uppercase
          font-size: 3.5em
          color: white
        &:hover
          opacity: 1.0
        img
          padding: 0px
          width: 4em
          border-radius: 100%
        p
          width: 100%
          height: 100%
          margin: 0px
  figure
    display: none
    @media #{$media}
      display: flex
      height: 4em
      width: 12em
      opacity: 0.8
      margin: 0px
      margin-left: 5px
    img
      width: 100%
main
  display: flex
  flex-direction: column
  justify-content: space-between
  width: 100%
  @media #{$media}
    flex-direction: row
  & > div
    width: 100%
    padding: 0px
    display: flex
    flex-direction: column
    @media #{$media}
      width: 35%
      max-height: calc((100vh) - 9em)
  .body
    width: 100%
    display: flex
    flex-direction: column
    text-align: center
    @media #{$media}
      overflow-y: auto
    h1
      border-bottom: 1px solid rgba(225,225,225,0.5)
    .textbody
      position: relative
      overflow-y: auto
    #editing
      resize: none
      width: 95%
      margin: 0 auto
      height: 30vh
    #saveEdit
      width: 8em
      min-height: 2em
      background-color: #708edf
      border: 0px
      color: white
      font-weight: bold
    .otherBody
      display: flex
      flex-direction: row
      justify-content: center
      .lightbox-prev
        width: 30%
      img
        min-width: 90%
        max-height: 5em
        padding-right: 5px
        padding-left: 5px
        opacity: .75
        @media #{$media}
          max-width: 100%
    p
      cursor: pointer
      padding-left: 2%
      padding-right: 2%
      text-align: justify
      margin: 0
      position: relative
      &:hover
        & > #edit
          display: block
      #edit
        width: 1.5em
        position: absolute
        top: -2em
        left: 1em
        display: none
        opacity: 0.6
        z-index: 3242
        &:hover
          opacity: 1.0
          display: block
    .options
      display: flex
      flex-direction: row
      position: relative
      justify-content: space-around
      background-color: #bb0c0c
      height: 4em
      margin: 0 auto
      margin-top: 1em
      width: 100%
      @media #{$media}
        position: fixed
        bottom: 0
        width: 59%
        margin-top: 0px
      .favourite
        padding: 10px
      .favourite:not(:checked)
        border: 0px
        & > input
          position: absolute
          top: -9999px
          clip: rect(0,0,0,0)
        & > label
          float: right
          width: 1em
          padding: 0 0.1em
          overflow: hidden
          white-space: nowrap
          cursor: pointer
          font-size: 200%
          line-height: 1.2
          color: #ffffff
        & > label:before
          content: '★ '
        & > label:hover
          color: gold
      .favourite > input:checked ~ label
        color: gold
      .favourite > input:checked + label:hover
        color: gold
      .mute
        width: 3em
      .mute:not(:checked)
        border: 0px
        & > input
          position: absolute
          top: -9999px
          clip: rect(0,0,0,0)
        & > label
          margin: 0 auto
          float: right
          width: 3em
          height: 3em
          overflow: hidden
          white-space: nowrap
          cursor: pointer
          background: url(../logo/following.svg) no-repeat
          background-size: 3em 3em
        & > label:hover
          background: url(../logo/mute.svg) no-repeat
          background-size: 3em 3em
      .mute > input:checked ~ label
        background: url(../logo/mute.svg) no-repeat
        background-size: 3em 3em
      .mute > input:checked + label:hover
        background: url(../logo/following.svg) no-repeat
        background-size: 3em 3em

      .search
        width: 2em
        cursor: pointer
        &:hover
          & + .searchInput
            display: block
      .searchInput
        display: none
        position: absolute
        width: 35%
        height: 40px
        line-height: 0.5em
        font-size: 2em
        right: 0
        margin-bottom: 50px
        -webkit-box-shadow: 0 15px 18px -8px black
        -moz-box-shadow: 0 15px 18px -8px black
        box-shadow: 0 15px 18px -8px black
        @media #{$media}
          right: 0
          top: -45px
        &:hover
          display: block
        &:focus
          display: block
  .body-cont
    @media #{$media}
      border-right: 1px solid rgba(225,225,225,0.5)
      border-left: 1px solid rgba(225,225,225,0.5)
      padding-right: 1%
      width: 58%
      margin: 0 auto
      height: calc((90vh) - 6em)
  .comments-cont
    @media #{$media}
      border-left: 1px solid rgba(225,225,225,0.5)
      padding-right: 1%
      #extraCont
        min-height: calc((100vh) - 17em)
        max-height: calc((100vh) - 17em)
        overflow-y: auto
    textarea
      width: calc((100%) - 2px)
      resize: none
      font-size: 1em
      min-height: 8em
      margin-bottom: 4px
      padding: 0px
      border: 1px solid rgba(225,225,225,0.5)
      -webkit-box-shadow: 0 5px 10px -8px black
      -moz-box-shadow: 0 5px 10px -8px black
      box-shadow: 0 5px 10px -8px black
    #send
      width: 10em
      min-height: 2.5em
      background-color: #708edf
      border: 0px
      color: white
      font-weight: bold
      margin: 0 auto
      &:hover
        background-color: #7d99e5
      &:active
        width: 9.8em
    .comments
      width: 100%
      display: flex
      justify-content: space-between
      flex-direction: column-reverse
      overflow-y: auto
      section
        padding-right: 5px
        padding-top: 15px
        padding-bottom: 15px
        display: flex
        flex-direction: row
        justify-content: space-between
        min-height: 9.5em
        border-bottom: 1px solid rgba(225,225,225,1.0)
        align-items: flex-start
        -webkit-box-shadow: 0 8px 10px -10px black
        -moz-box-shadow: 0 8px 10px -10px black
        box-shadow: 0 8px 10px -10px black
        aside
          width: 18%
          padding-right: 2%
          padding-left: 2%
          display: flex
          flex-direction: column
          justify-content: center
          text-align: center
          word-wrap: break-word
          ul
            width: 4em
            margin: 0px
            margin: 0 auto
            height: 4em
            padding: 0px
            //border-radius: 100%
            //background-color: #7f86e5
            list-style-type: none
            li
              text-align: center
              text-transform: uppercase
              padding: 0
              margin: 0px
              width: 100%
              p
                padding: 0px
                margin: 0px
                font-size: 3.5em
                color: #fff
          p
            color: #949494
          .email
            font-size: 0.8em
          .date
            font-size: 0.6em
        div
          position: relative
          margin: 0px
          width: 80%
          text-align: justify
          word-wrap: break-word
          overflow: hidden
          p
            word-wrap: break-word
            margin: 0px
            @media #{$media}
              font-size: 0.9em

//Lightbox//
.lightbox
  /** Default lightbox to hidden */
  display: none
  /** Position and style */
  position: fixed
  z-index: 9999999
  width: 100%
  height: 100%
  text-align: center
  top: 0
  left: 0
  background: rgba(0,0,0,0.95)

.lightbox img
  /** Pad the lightbox image */
  min-width: 90%
  min-height: 80%
  max-width: 95%
  max-height: 95%
  margin-top: 2%

.lightbox:target
  /** Remove default browser outline */
  outline: none

  /** Unhide lightbox **/
  display: block
  & .next
    display: block
.next
  position: absolute
  bottom: 0
  right: 0
  font-size: 10em
  color: white

.lightbox-cont
  width: 100%
  background-color: white
  min-height: 100vh


