<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="CSS/box.css">
    <link rel="stylesheet" type="text/css" href="CSS/colors.css">
  </head>
  <body>
    <header>

      <section id='menu'>
        <ul>
          <li><a ng-click="goToInbox()" href="">Inbox</a></li>
          <li><a ng-click="settings()" href="">Settings</a></li>
          <li><a ng-click="logout()" href="">Logout</a></li>
        </ul>
      </section>

      <section id='images'>
        <figure><img src="../logo/flybox.png"></figure>
        <section class='people'>
          <ul>
            <li data-ng-model="original"><p title="{{original.author}}">{{original.author[0]}}</p></li>
            <li data-ng-repeat="recipient in recipients" class="{{recipient.email[0]}}"><p title="{{recipient.email}}">{{recipient.email[0]}}</p></li>
          </ul>
        </section>
      </section>
    </header>

    <main>

      <div class='body-cont'>
        <article class='body'>
          <h1 data-ng-model="original">{{original.subject}}</h1>
          <h2 data-ng-model="original">{{orininal.date | date}}</h2>
          <section class='otherBody'><a class='lightbox-prev' data-ng-repeat="file in attachments" href='{{file.source}}'>
            <img src="{{file.image}}">
            </a>
            <a href="#_" class='lightbox' id='{{file.image}}'><img src="{{file.image}}"></a>
          </section>
          <section class='textBody'><p ng-hide="textBody.editing" ng-click="textBody.editing = true" id='aaa' data-ng-model="original"><img src="../logo/600px-Black_pencil.svg.png" id='edit'>{{original.post}}</p>

            <textarea ng-hide="!textBody.editing" ng-model="textBody.text" id='editing'>test</textarea>

            <button ng-hide="!textBody.editing" ng-click="doneEditing();" id='saveEdit'>
              Save
            </button>
          </section>
          <aside class='options'>
            <fieldset class='favourite'>
              <input id='star' type='checkbox'>
              <label for='star'></label>
            </fieldset>
            <fieldset class='mute'>
              <input id='unfollow' type='checkbox'>
              <label for='unfollow'></label>
            </fieldset>
            <img src="../logo/search.svg" class='search'>
            <input type='text' class='searchInput'>
          </aside>
        </article>
      </div>

      <div class='comments-cont'>
        <textarea data-ng-model='newPost.text' type='text' placeholder=' Write a Comment' id='commentBox' data-ng-keyup='checkIfEnter($event.keyCode)'></textarea>
        <button data-ng-click='makeComment()' id='send'>Send</button>
        <div id='extraCont'>
          <article class='comments'>
            <section ng-repeat="post in posts | orderBy:date:reverse">
              <aside>
                <ul><li class="{{post.author[0]}}"><p title="{{post.author}}">{{post.author[0]}}</p></li></ul>
                <p class='email'>{{post.author}}</p>
                <p class='date'>{{post.time | date}}<br>{{post.time | date:'hh:mm:ss'}}<br></p>
              </aside>
              <div><p>{{post.text}}</p>
              </div>
            </section>

          </article>
        </div>

      </div>
    </main>
    <script type="text/javascript" src='../jquery-2.1.1.js'></script>
    <script type="text/javascript" src='aa.js'></script>
  </body>
</html>

