<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="view.css">
  </head>
  <body>
    <header>
      <!-- <figure><img src="../logo/flybox-4.0.4-64x64.svg"></figure> -->
      <section class='people'>
        <ul>
          <li><p>A</p></li>
          <li><p>B</p></li>
          <li><p>C</p></li>
          <li><p>C</p></li>
          <li><p>C</p></li>
        </ul>
      </section>
    </header>
    <main>
      <div class='body-cont'>
        <article class='body'>
          <h1>Title</h1>
          <section class='otherBody'><img src="../logo/flybox-4.0.4-64x64.svg"></section>
          <section class='textBody'><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></section>
        </article>
        <aside class='options'>
          <fieldset class='favourite'>
            <input id='star' type='checkbox'>
            <label for='star'></label>
          </fieldset>
          <p>Mute</p>
          <img src="../logo/flybox-4.0.4-64x64.svg" class='search'>
          <input type='text' class='searchInput'>
        </aside>
      </div>
      <div class='comments-cont'>
        <textarea placeholder=' Write a Comment'></textarea>
        <article class='comments'>
          <section>
            <aside>
              <img src="../logo/flybox-4.0.4-64x64.svg">
              <p class='email'>exampvdbrshsrgsgsgle@gmail.com</p>
              <p class='date'>12/16/2014</p>
            </aside>            <div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p></div>
          </section>
          <section>
            <aside>
              <img src="../logo/flybox-4.0.4-64x64.svg">
              <p class='email'>exampvdbrshsrgsgsgle@gmail.com</p>
              <p class='date'>12/16/2014</p>
            </aside>
            <div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incidr. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            quis nostrud exercitatloreion ullamco laboris nisi ut aliquip ex ea commodo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut laborlorem Lorem ipsum dolor
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.esse exercitatloreion ullamco laboris nisi ut aliquip ex ea commodo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod exercitatloreion ullamco laboris nisi ut aliquip ex ea commodo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut laborlorem Lorem ipsum dolor
            proident, sunt in culpa qui offic exercitatloreion ullamco laboris nisi ut aliquip ex ea commodo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut laborlorem Lorem ipsum dolor
            proident, sunt in culpa qui offic exercitatloreion ullamco laboris nisi ut aliquip ex ea commodo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut laborlorem Lorem ipsum dolor
            proident, sunt in culpa qui offic
            tempor incididunt ut laborlorem Lorem ipsum dolor
            proident, sunt in culpa qui offic
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
          </section>
          <section>
            <aside>
              <img src="../logo/flybox-4.0.4-64x64.svg">
              <p class='email'>exampvdbrshsrgsgsgle@gmail.com</p>
              <p class='date'>12/16/2014</p>
            </aside>            <div><!-- <h3>loremmm</h3> --><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incidr. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            quis nostrud exercitatloreion ullamco laboris nisi ut aliquip ex ea commodo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut laborlorem Lorem ipsum dolor
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.esse exercitatloreion ullamco laboris nisi ut aliquip ex ea commodo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod exercitatloreion ullamco laboris nisi ut aliquip ex ea commodo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut laborlorem Lorem ipsum dolor
            proident, sunt in culpa qui offic exercitatloreion ullamco laboris nisi ut aliquip ex ea commodo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut laborlorem Lorem ipsum dolor
            proident, sunt in culpa qui offic exercitatloreion ullamco laboris nisi ut aliquip ex ea commodo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut laborlorem Lorem ipsum dolor
            proident, sunt in culpa qui offic
            tempor incididunt ut laborlorem Lorem ipsum dolor
            proident, sunt in culpa qui offic
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
          </section>
        </article>
      </div>
    </main>
  </body>
</html>

