<div data-ng-controller="InboxCtrl">
  <header>
    <link rel="stylesheet" type="text/css" href="CSS/inbox.css">
    <ul>
      <li>
        <nav>
          <img src='../logo/hamburger-2.svg' id='burger' data-ng-click='menu=!menu'>
          <ul id='sideMenu' data-ng-hide='menu'>
            <li data-ng-click='goToInbox()'>Boxes</li>
            <li>Drafts</li>
            <li>Contacts</li>
            <li data-ng-click='settings()'>Account Settings</li>
            <li id='logout' data-ng-click='logOut()'>Log Out</li>
          </ul>
        </nav>
      </li>
      <li id='logo'>
        <img src='../logo/fly-box-logo.svg'>
      </li>
      <li>
        <article>
          <img src='../logo/compose-3.svg' class='compose' data-ng-click='composing=!composing'>
          <aside id='read'>
            <button id='close'>X</button>
            <div id='readMessage'>
            </div>
          </aside>
          <aside id='writeMail' data-ng-hide='composing'>
            <section>
              <img src="../logo/compose-2.svg" id='tools'>
              <div id='toolMenu'>
                <ul>
                  <li><img src="../logo/compose-2.svg"></li>
                  <li><img src="../logo/compose-2.svg"></li>
                  <li><img src="../logo/compose-2.svg"></li>
                  <li><img src="../logo/compose-2.svg"></li>
                  <li><img src="../logo/compose-2.svg"></li>
                  <li><img src="../logo/compose-2.svg"></li>
                  <li><img src="../logo/compose-2.svg"></li>
                </ul>
              </div>
            </section>
            <input type='text' placeholder='  To:' id='to'>
            <input type='text' placeholder='  CC/BCC:' id='cc'>
            <input type='text' placeholder='  Title' id='title'>
            <textarea type='text' placeholder=' Message' id='message'></textarea>
            <div id='options'>
              <ul>
                <li>
                  <img src="../logo/compose-2.svg">
                </li>
                <li>
                  <img src="../logo/compose-2.svg">
                </li>
                <li>
                  <img src="../logo/compose-2.svg">
                </li>
                <li>
                  <img src="../logo/compose-2.svg">
                </li>
              </ul>
            </div>
          </aside>
        </article>
      </li>
    </ul>
  </header>
  <div data-ng-show="smtpSet === false" data-ng-click='settings()'>CLICK HERE TO SET UP YOUR EMAIL SMTP INFO</div>
  <aside class='functions'>
    <span>
      <input type='checkbox'>
      <label class='all'></label>
    </span>
    <ul>
      <li>
        <img src="../logo/compose-2.svg">
      </li>
      <li>
        <img src="../logo/compose-2.svg">
      </li>
      <li>
        <img src="../logo/compose-2.svg">
      </li>
      <li>
        <img src="../logo/compose-2.svg">
      </li>
    </ul>
  </aside>
  <main>
    <div class='checkedNames'></div>
    <section>
      <span>
        <input type='checkbox' name='mail' value='openMail'>
        <label></label>
      </span>
      <div class='pars'>
        <p>Sender</p>
        <p>Title</p>
        <p>Mail Preview(30-40 chars)</p>
        <p>Date</p>
      </div>
      <div class='full-message'>
        <section>
          <h2>Title</h2>
          <h4>Sender</h4>
          <p>Date</p>
        </section>
        <p id='justMessage'>Mail-Full Content
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </section>
    <section>
      <span>
        <input type='checkbox' name='mail' value='openMail'>
        <label></label>
      </span>
      <div class='pars'>
        <p>Sender</p>
        <p>Title</p>
        <p>Mail Preview(30-40 chars)</p>
        <p>Date</p>
      </div>
      <div class='full-message'>
        <section>
          <h2>Title</h2>
          <h4>Sender</h4>
          <p>Date</p>
        </section>
        <p id='justMessage'>Mail-Full Content
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </section>
    <section>
      <span>
        <input type='checkbox' name='mail' value='openMail'>
        <label></label>
      </span>
      <div class='pars'>
        <p>Sender</p>
        <p>Title</p>
        <p>Mail Preview(30-40 chars)</p>
        <p>Date</p>
      </div>
      <div class='full-message'>
        <section>
          <h2>Title</h2>
          <h4>Sender</h4>
          <p>Date</p>
        </section>
        <p id='justMessage'>Mail-Full Content
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </section>
  </main>
</div>