<div data-ng-controller="InboxCtrl">
  <header>
    <link rel="stylesheet" type="text/css" href="CSS/inbox.css">
    <ul>
      <li>
        <nav>
          <img src='../logo/hamburger-2.svg' id='burger' data-ng-click='menu=!menu'>
          <ul id='sideMenu' data-ng-hide='menu'>
            <li data-ng-click='goToInbox()'>Boxes</li>
            <li>Drafts</li>
            <li>Contacts</li>
            <li data-ng-click='settings()'>Account Settings</li>
            <li id='logout' data-ng-click='logOut()'>Log Out</li>
          </ul>
        </nav>
      </li>
      <li id='logo'>
        <img src='../logo/flybox.png' width="150px" height="53px">
      </li>
      <li>
        <article>
          <img src='../logo/compose-3.svg' class='compose' data-ng-click='composing=!composing'>
          <aside id='read'>
            <button id='close'>X</button>
            <div id='readMessage'>
            </div>
          </aside>
          <aside id='writeMail' data-ng-hide='composing'>
            <section>
              <img src="../logo/compose-2.svg" id='tools'>
              <div id='toolMenu'>
                <ul>
                  <li><img src="../logo/compose-2.svg"></li>
                  <li><img src="../logo/compose-2.svg"></li>
                  <li><img src="../logo/compose-2.svg"></li>
                  <li><img src="../logo/compose-2.svg"></li>
                  <li><img src="../logo/compose-2.svg"></li>
                  <li><img src="../logo/compose-2.svg"></li>
                  <li><img src="../logo/compose-2.svg"></li>
                </ul>
              </div>
            </section>
            <input type='text' placeholder='  To:' id='to'>
            <input type='text' placeholder='  CC/BCC:' id='cc'>
            <input type='text' placeholder='  Title' id='title'>
            <textarea type='text' placeholder=' Message' id='message'></textarea>
            <div id='options'>
              <ul>
                <li>
                  <img src="../logo/compose-2.svg">
                </li>
                <li>
                  <img src="../logo/compose-2.svg">
                </li>
                <li>
                  <img src="../logo/compose-2.svg">
                </li>
                <li>
                  <img src="../logo/compose-2.svg">
                </li>
              </ul>
            </div>
          </aside>
        </article>
      </li>
    </ul>
  </header>
  <div data-ng-show="smtpSet === false" data-ng-click='settings()' class='bannerAlert'>
    <p><b>SET UP YOUR EMAIL SMTP</b></p>
  </div>
  <aside class='functions'>
    <span>
      <input type='checkbox'>
      <label class='all'></label>
    </span>
    <ul>
      <li>
        Sender
      </li>
      <li>
        Subject
      </li>
      <li>
        Date
      </li>
    </ul>
  </aside>
  <main>
    <div class='checkedNames'></div>
    <section data-ng-repeat='_id in boxes | orderBy:"date":true'>
      <span>
        <input type='checkbox' name='mail' value='openMail'>
        <label></label>
      </span>
      <div class='pars' data-ng-click='goToBox(_id.boxKey, _id.recipients[0].urlKey)'>
        <p>{{_id.email}}</p>
        <p>{{_id.subject}}</p>
        <p>{{_id.date | date}} and {{_id.date | date:'hh:mm'}}</p>
      </div>
    </section>
  </main>
</div>
