<link rel="stylesheet" type="text/css" href="CSS/style.css">
<header>
  <a href="#">Learn more about flybox</a>
</header>
<div data-ng-controller="UsersCtrl">
  <article>
    <main>
      <img id='logo' src="../logo/flybox-4.0.4-64x64.svg">
      <section id='buttons'data-ng-hide='signingUp || signingIn'>
        <button id='signin' data-ng-click='signingIn = true'>Log In</button>
        <p>Or <a id='signup' href data-ng-click='signingUp = true'>Sign Up</a></p>
      </section>
      <section id='signUpForm' class='form' data-ng-show='signingUp'>
        <label>E-Mail</label>
        <input type='text'>
        <label>Password</label>
        <input type='password'>
        <label>Password Confirmation</label>
        <input type='password'>
        <button id='submit' class='submit'>Sign Up</button>
        <a id='signin' href data-ng-click='signingIn = true; signingUp = false'>Log In</a>
      </section>
      <section id='signInForm' class='form' data-ng-show='signingIn'>
        <label>E-Mail</label>
        <input type='text'>
        <label>Password</label>
        <input type='password'>
        <button id='login' class='submit'>Log In</button>
        <a id='signin' href data-ng-click='signingUp = true; signingIn = false'>Sign Up</a>
      </section>
    </main>
  </article>
</div>
